@import url(//styles/reset-styles.css);

.container div {
    display: inline;

}
.menu-container div {
    padding: 20px 50px;
    /* border: red 1px solid; */
    font-size: 20px;


}
.menu-container {
    margin-left: 1000px;
}
a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font: bold;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
} 


.menu-container div:hover {
    background-color: rgb(223, 222, 222);
}
.title {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    vertical-align: 10px;
}
.container {
    box-shadow:0 0 243px black;
    margin: -12px -1px;
    padding: 0px 0px 20px 0px;
}